<%= form_for @clip, :html => { :multipart => true } do |f| %>
  <% if @clip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clip.errors.count, "error") %> prohibited this clip from being saved:</h2>

      <ul>
      <% @clip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :director %>
    <%= f.text_field :director %>
  </div>
  <div class="field">
    <%= f.label :agency %>
    <%= f.text_field :agency %>
  </div>
  <div class="field">
    <%= f.label :client %>
    <%= f.text_field :client %>
  </div>
  <div class="field">
    <%= f.label :keyword_list %>
    <%= f.text_field :keyword_list %>
  </div>
  <div class="field">
    <%= f.label :technique_list %>
    <%= f.text_field :technique_list %>
  </div>
  <div class="field">
    <%= f.label :month %>
    <%= f.text_field :month %>
  </div>
  <div class="field">
    <%= f.label :year %>
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :video %>
    <%= f.text_field :video %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= link_to 'Destroy', @clip, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
