<% if @search %>
  <%= form_for @search do |f| %>
    <div>Title: <%= f.text_field :title_contains %></div>
    <div>Client: <%= f.text_field :client_contains %></div>
    <%= f.submit %>
  <% end %>
<% end %>
<div class="clips">
  <% @clips.each do |clip| %>
  <div class="clip">
    <a class="reel add" href="#">Add to Reel</a>
    <a href="<%= url_for clip %>">
      <div class="title"><%= clip.title %></div>
      <!-- <img src="http://globalmechanic.com/clip/thumbnails/<%= clip.image %>" alt="<%= clip.title %>" width="188" height="106" /> -->
      <img src="http://shielded-anchorage-8580.herokuapp.com/clip/thumbnails/<%= clip.image %>" alt="<%= clip.title %>" width="188" height="106" />
      <!-- <img src="/assets/188x106.png" alt="Placeholder"> -->
    </a>
  </div>
  <% end %>
</div>

<%= link_to 'New Clip', new_clip_path %>
<a href="?page=<%= params[:page] ? params[:page].to_i + 1 : 2 %>">Next</a>
