<%= link_to 'Back to Clips', clips_path %>
<%= link_to 'Edit Clip', edit_clip_path(@clip) %>

<h1><%= @clip.title %></h1>

<div class="clip-single">
  <div class="meta">
    <img src="http://globalmechanic.com/clip/thumbnails/<%= @clip.image %>" />
    <div><strong>Title:</strong> <%= @clip.title %></div>
    <div><strong>Director:</strong> <%= @clip.director %></div>
    <div><strong>Agency:</strong> <%= @clip.agency %></div>
    <div><strong>Client:</strong> <%= @clip.client %></div>
    <div><strong>Keywords:</strong> <%= @clip.keyword_list.join(', ') %></div>
    <div><strong>Techniques:</strong> <%= @clip.technique_list.join(', ') %></div>
    <div><strong>Date:</strong> <%= @clip.month %> <%= @clip.year %></div>
    <div><strong>Description:</strong></div>
    <div><%= @clip.description %></div>
  </div>
  <video src="http://globalmechanic.com/clip/movies/<%= @clip.video %>" controls></video>
  <div>
    <strong>Versions:</strong>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Action</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
      <% @clip.versions.reverse.each do |version| %>
        <tr>
          <td><%= version.id %></td>
          <td><%= version.event %></td>
          <td><%= version.created_at %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
