<% # draggable = params[:controller] === 'reels' && params[:action] === 'edit' ? true : false %>
<div id="reel-<%= @reel.slug %>" class="reel-id clips slots">
  <% previous_clip = nil %>
  <% @clips.each_with_index do |clip, index| %>
  <% if ['director', 'client'].include? params[:where] %>
    <% if previous_clip == nil || clip[params[:where]] != previous_clip %>
    <% previous_clip = clip[params[:where]] %>
    <h2><%= clip[params[:where]].to_s.titleize %></h2>
    <% end %>
  <% end %>
  <div id="slot-<%= index %>" class="slot">
    <div class="region"></div>
  </div>
  <div class="clip" draggable="true">
    <% if @reel.clips.map {|clip| clip[:id] }.include?(clip.id) %>
    <%= link_to 'Remove from Reel', reel_clip_path(@reel, clip), method: :delete, :draggable => false, :id => 'clip-' + clip.id.to_s, :class => 'reel remove' %>
    <% else %>
    <%= link_to 'Add to Reel', reel_clip_path(@reel, clip), method: :post, :draggable => false, :id => 'clip-' + clip.id.to_s, :class => 'reel add' %>
    <% end %>
    <div class="title"><%= clip.title %></div>
    <img class="default" draggable="false" src="http://globalmechanic.com/clip/thumbnails/<%= clip.image %>" alt="<%= clip.title %>" width="188" height="106">
    <div class="extended">
      <div class="title"><%= clip.title %></div>
      <video id="video-clip-<%= clip.id %>" class="video-js vjs-default-skin" width="380" height="257" data-setup='{ "preload": "none" }' preload="none">
        <source src="http://globalmechanic.com/clip/movies/<%= clip.video %>" type='video/mp4' />
      </video>
    </div>
  </div>
  <% end %>
  <div id="slot-<%= @clips.length  %>" class="slot last">
    <div class="region"></div>
  </div>
</div>
