<% # draggable = params[:controller] === 'reels' && params[:action] === 'edit' ? true : false %>
<div id="reel-<%= @reel.slug %>" class="reel-id clips slots">
  <% previous_clip = nil %>
  <% @clips.each_with_index do |clip, index| %>
  <% if ['director', 'client'].include? params[:where] %>
    <% if previous_clip == nil || clip[params[:where]] != previous_clip %>
    <% previous_clip = clip[params[:where]] %>
    <h2><%= clip[params[:where]].to_s.titleize %></h2>
    <% end %>
  <% end %>
  <div id="slot-<%= index %>" class="slot">
    <div class="region"></div>
  </div>
  <%= render :partial => 'shared/clip', :locals => { :reel => @reel, :clip => clip } %>
  <% end %>
  <div id="slot-<%= @clips.length  %>" class="slot last">
    <div class="region"></div>
  </div>
</div>
