<div id="reel-<%= @reel.slug %>" class="reel-id clips">
  <% @clips.each_with_index do |clip, index| %>
  <div id="slot-<%= index %>" class="slot">
    <div class="region"></div>
  </div>
  <div class="clip" draggable="true">
    <% if @reel.clips.exists?(clip) %>
    <%= link_to 'Remove from Reel', reel_clip_path(@reel, clip), method: :delete, :draggable => false, :id => 'clip-' + clip.id.to_s, :class => 'reel remove' %>
    <% else %>
    <%= link_to 'Add to Reel', reel_clip_path(@reel, clip), method: :post, :draggable => false, :id => 'clip-' + clip.id.to_s, :class => 'reel add' %>
    <% end %>

    <%= link_to clip, :draggable => false do %>
      <div class="title"><%= clip.title %></div>
      <!-- <img draggable="false" src="http://globalmechanic.com/clip/thumbnails/<%= clip.image %>" alt="<%= clip.title %>" width="188" height="106" /> -->
      <img draggable="false" src="http://shielded-anchorage-8580.herokuapp.com/clip/thumbnails/<%= clip.image %>" alt="<%= clip.title %>" width="188" height="106" />
      <!-- <img draggable="false" src="/assets/188x106.png" alt="Placeholder"> -->
    <% end %>
  </div>
  <% end %>
  <div id="slot-<%= @clips.length  %>" class="slot last">
    <div class="region"></div>
  </div>
</div>
