<div class="clip" draggable="true">
  <% if reel.clips.map {|clip| clip[:id] }.include?(clip.id) %>
  <%= link_to 'Remove from Reel', reel_clip_path(reel, clip), method: :delete, :draggable => false, :id => 'clip-' + clip.id.to_s, :class => 'reel remove' %>
  <% else %>
  <%= link_to 'Add to Reel', reel_clip_path(reel, clip), method: :post, :draggable => false, :id => 'clip-' + clip.id.to_s, :class => 'reel add' %>
  <% end %>
  <div class="title"><%= clip.title %></div>
  <img class="default" draggable="false" src="http://globalmechanic.com/clip/thumbnails/<%= clip.image %>" alt="<%= clip.title %>" width="188" height="106">
  <div class="extended">
    <div class="title"><%= clip.title %></div>
    <video id="video-clip-<%= clip.id %>" class="video-js vjs-default-skin" data-setup="{}" width="380" height="257" src="http://globalmechanic.com/clip/movies/<%= clip.video %>" preload="none"></video>
  </div>
</div>

<% # link_to clip, :draggable => false do %>
<% # <img class="default" draggable="false" src="/assets/188x106.png" width="188" height="106"> %>
