<h2><%= @reel.title %></h2>
<%= link_to "view", reel_path %> <a href="#" id="copy-link">copy link</a>
<%= render 'form' %>

<%= render 'shared/clips' %>

<script type="text/javascript">
var clip = new ZeroClipboard.Client();
clip.setText('<%= reel_url %>');
clip.glue('copy-link');
clip.setCSSEffects(true);
clip.addEventListener('complete', function(client, text) {
  $('#copy-link').text('copied').css({ color: 'green' })
});
</script>
