<h2><%= @reel.title %></h2>
<%= link_to "view", reel_path %> <a href="#" id="copy-link">copy link</a>

<% unless @reel.clips.length > 0 %>
<%= content_tag(:p, 'No clips yet.') %>
<% else %>
<%= render 'shared/clips' %>
<% end %>


<div style="clear:both; padding-top: 25px;">
<%= render 'form' %>
</div>

<script type="text/javascript">
var clip = new ZeroClipboard.Client();
clip.setText('<%= reel_url %>');
clip.glue('copy-link');
clip.addEventListener('complete', function(client, text) {
  $('#copy-link').text('copied').css({ color: 'green' })
});
</script>
