<h1>Listing reels</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Created by</th>
    <th></th>
    <th></th>
  </tr>

<% @reels.each do |reel| %>
  <tr>
    <td><%= link_to reel.title, reel_path(reel) %></td>
    <td><%= reel.user.name %></td>
    <td><%= link_to 'Edit', edit_reel_path(reel) %></td>
    <td><%= link_to 'Destroy', reel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reel', new_reel_path %>
