<p id="notice"><%= notice %></p>

<%= link_to 'Back to Reels', reels_path %>
<%= link_to 'Browse', reel_path(@reel) %>
<%= link_to 'Reel', filter_reel_path(@reel) %>
<%= link_to 'Edit', edit_reel_path(@reel) %>
<%= link_to 'User', edit_user_path(@reel.user) %>

<h2><%= @reel.title %> by <%= @reel.user.name %></h2>

<% if @search %>
  <%= form_for(@search, :url => reel_path(@reel)) do |f| %>
    <div>Title: <%= f.text_field :title_contains %></div>
    <div>Client: <%= f.text_field :client_contains %></div>
    <%= f.submit %>
  <% end %>
<% end %>

<div id="reel-<%= @reel.id %>" class="reel-id clips">
  <div id="slot-0" class="slot">
    <div class="region"></div>
  </div>
  <% @clips.each_with_index do |clip, index| %>
  <div class="clip" draggable="true">
    <a  draggable="false" id="clip-<%= clip.id %>" class="reel <%= @reel.clips.exists?(clip) ? 'remove' : 'add' %>" href="#">Add to Reel</a>
    <a draggable="false" href="<%= url_for clip %>">
      <div class="title"><%= clip.title %></div>
      <!-- <img draggable="false" src="http://globalmechanic.com/clip/thumbnails/<%= clip.image %>" alt="<%= clip.title %>" width="188" height="106" /> -->
      <img draggable="false" src="http://shielded-anchorage-8580.herokuapp.com/clip/thumbnails/<%= clip.image %>" alt="<%= clip.title %>" width="188" height="106" />
      <!-- <img draggable="false" src="/assets/188x106.png" alt="Placeholder"> -->
    </a>
  </div>
  <div id="slot-<%= index + 1 %>" class="slot">
    <div class="region"></div>
  </div>
  <% end %>
</div>
