<p id="notice"><%= notice %></p>

<%= link_to 'Back to Reels', reels_path %>
<%= link_to 'Show', reel_path(@reel) %>
<%= link_to 'Filter', filter_reel_path(@reel) %>
<%= link_to 'Edit', edit_reel_path(@reel) %>
<%= link_to 'User', edit_user_path(@reel.user) %>

<h2><%= @reel.title %> by <%= @reel.user.name %></h2>

<div id="reel-<%= @reel.id %>" class="reel-id clips">
  <% @clips.each do |clip| %>
  <div class="clip">
    <a id="clip-<%= clip.id %>" class="reel <%= @reel.clips.exists?(clip) ? 'remove' : 'add' %>" href="#">Add to Reel</a>
    <a href="<%= url_for clip %>">
      <div class="title"><%= clip.title %></div>
      <!--<img src="http://globalmechanic.com/clip/thumbnails/<%= clip.image %>" alt="<%= clip.title %>" width="188" height="106" />-->
      <img src="/assets/188x106.png" alt="Placeholder">
    </a>
  </div>
  <% end %>
</div>
