<!DOCTYPE html>
<html>
<head>
  <title>Asset Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript">
    var gm = gm || {
      controller: '<%= params[:controller] %>',
      action: '<%= params[:action] %>'
    };
    <% if current_user %>
    gm.current_reel_slug = '<%= current_user.current_reel_slug? ? current_user.current_reel_slug : 'null' %>';
    <% end %>
  </script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller].parameterize %> <%= params[:action].parameterize %>">
  <div class="container">
    <% if user_signed_in? %>
    <nav class="clearfix">
      <ul id="primary">
        <li><%= link_to 'Clips', clips_path %></li>
        <li><%= link_to 'Reels', reels_path %></li>
        <li><%= link_to 'Users', users_path %></li>
        <!-- <li><%= link_to "Edit #{current_user.name}", edit_user_registration_path %></li> -->
        <!-- <li><%= link_to 'Edit User', edit_user_path(current_user) %></li> -->
        <li><%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %></li>
      </ul>
      <ul id="secondary">
        <li><%= link_to 'Browse', clips_url %></li>
        <li><%= link_to @current_reel.title? ? @current_reel.title : 'Create my Reel', edit_reel_path(@current_reel) %> <%= link_to '×', close_reel_path(@current_reel) if @current_reel.title? %></li>
      </ul>
      <div class="drawer">
        <a class="open-reel" href="#">Open A Reel</a>
        <div class="reels eight columns">
          <div class="four columns alpha">
            <div class="title">Recently Created</div>
            <ul class="disc">
              <% @reels_created.each do |reel| %>
              <li><%= link_to reel.title, open_reel_path(reel) %> <%= time_ago_in_words(reel.created_at) %></li>
              <% end %>
            </ul>
          </div>
          <div class="four columns omega">
            <div class="title">Recently Updated</div>
            <ul class="disc">
              <% @reels_updated.each do |reel| %>
              <li><%= link_to reel.title, open_reel_path(reel) %> <%= time_ago_in_words(reel.updated_at) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <% end %>
    <% if notice %>
    <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
