<!DOCTYPE html>
<html>
<head>
  <title><%= @reel.title %> - Global Mechanic Media</title>
  <meta name="viewport" content="width=1050">
  <%= stylesheet_link_tag    "public_reel", :media => "all" %>
  <%= javascript_include_tag "public_reel" %>
  <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/c/video.js"></script>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    <%
    clip_hash = Hash.new
    @clips.each {|clip| clip_hash[clip.id] = clip }
    %>
    var gm = gm || {
      root_url: '<%= root_url %>',
      controller: '<%= params[:controller] %>',
      action: '<%= params[:action] %>',
      reel: <%=h raw(@reel.to_json) %>,
      clips: <%=h raw(clip_hash.to_json) %>
    };
  </script>
</head>
<body class="public-reel">
  <body>
    <header>
      <h1 class="logo"><a href="http://globalmechanic.com/"><%= @reel.title %></a></h1>
      <ul class="contact">
        <li><a class="email" href="mailto:tina@globalmechanic.com">Studio</a> <a class="tel" href="tel:+16047337475">604 733 7475</a></li>
        <li><a class="email" href="mailto:info@lizlainereps.com?subject=Re:%20Global%20Mechanic">Reps USA</a> <a class="tel" href="tel:+13123291111">312 329 1111</a></li>
        <li><a class="email" href="mailto:lisa@hestyreps.com?subject=Re:%20Global%20Mechanic">Reps CANADA</a> <a class="tel" href="tel:+14164820411">416 482 0411</a></li>
      </ul>
    </header>
    <nav class="main">
      <ul>
        <li class="work"><a href="http://globalmechanic.com/work">Work</a></li>
        <li class="people"><a href="http://globalmechanic.com/people">People</a></li>
        <li class="mechanica"><a href="http://blog.globalmechanic.com">Mechanica</a></li>
      </ul>
    </nav>
    <section>
      <%= yield %>
    </section>
  <footer>
    <nav class="sitemap">
      <div class="category clearfix">
        <h2><a href="http://globalmechanic.com/work">Work</a></h2>
        <ul>
          <li><a href="http://globalmechanic.com/work/commercials">Commercials</a></li>
          <li><a href="http://globalmechanic.com/work/films">Films</a></li>
          <li><a href="http://globalmechanic.com/work/series">TV Series</a></li>
          <li><a href="http://globalmechanic.com/work/titles">Titles</a></li>
          <li><a href="http://globalmechanic.com/work/digital">Digital</a></li>
          <li><a href="http://globalmechanic.com/work/performance">Performance</a></li>
        </ul>
      </div>
      <div class="category clearfix">
        <h2><a href="http://globalmechanic.com/people">People</a></h2>
        <ul>
          <li><a href="http://globalmechanic.com/people/bruce_alcock">Bruce</a></li>
          <li><a href="http://globalmechanic.com/people/tina_ouellette">Tina</a></li>
          <li><a href="http://globalmechanic.com/people/ashley_hargreaves">Ashley</a></li>
          <li><a href="http://globalmechanic.com/people/chez_battista">Chez</a></li>
          <li><a href="http://globalmechanic.com/people/cliff_saito">Cliff</a></li>
          <li><a href="http://globalmechanic.com/people/daniel_sousa">Daniel</a></li>
          <li><a href="http://globalmechanic.com/people/dirk_van_de_vondel">Dirk</a></li>
          <li><a href="http://globalmechanic.com/people/handcranked">Handcranked</a></li>
          <li><a href="http://globalmechanic.com/people/ian_vincent_godfrey">Ian</a></li>
          <li><a href="http://globalmechanic.com/people/jerald_schoenroth">Jerald</a></li>
          <li><a href="http://globalmechanic.com/people/kangaroo_alliance">Kangaroo</a></li>
          <li><a href="http://globalmechanic.com/people/ken_meyer">Ken</a></li>
          <li><a href="http://globalmechanic.com/people/marv_newland">Marv</a></li>
          <li><a href="http://globalmechanic.com/people/Michael_Mann">Michael</a></li>
          <li><a href="http://globalmechanic.com/people/morten_vinther">Morten</a></li>
          <li><a href="http://globalmechanic.com/people/nathaniel_akin">Nathaniel</a></li>
          <li><a href="http://globalmechanic.com/people/rich_ferguson-hull">Rich</a></li>
          <li><a href="http://globalmechanic.com/people/yes_please">Yes Please</a></li>
          <li><a href="http://globalmechanic.com/people/elizabeth_murray">Liz</a></li>
          <li><a href="http://globalmechanic.com/people/Allison_Jaren">Allison</a></li>
        </ul>
      </div>
      <div class="category clearfix">
        <h2><a href="http://blog.globalmechanic.com">Mechanica</a></h2>
        <ul>
          <li><a href="http://blog.globalmechanic.com">Blog</a></li>
          <li class="external"><a href="http://www.facebook.com/GlobalMechanicMedia">Facebook</a></li>
          <li class="external"><a href="https://vimeo.com/globalmechanicmedia/">Vimeo</a></li>
          <li class="external"><a href="http://www.youtube.com/user/globalmechanic/">Youtube</a></li>
          <li class="external"><a href="https://twitter.com/GlobalMechanic/">Twitter</a></li>
        </ul>
      </div>
    </nav>
    <div class="close">
      <h3 class="logo"><a href="http://globalmechanic.com/">Global Mechanic</a></h3>
      <a href="https://maps.google.ca/maps?fb=1&amp;gl=ca&amp;hnear=0x548673f143a94fb3:0xbb9196ea9b81f38b,Vancouver,+BC&amp;cid=0,0,9816311573480716717&amp;t=m&amp;z=16&amp;iwloc=A" class="adr">
        <div class="street-address">#300 - 341 Water Street</div>
        <span class="locality">Vancouver</span>,
        <abbr class="region" title="British Columbia">BC</abbr>,
        <span class="postal-code">V6B 1B2</span>
        <div class="country-name">Canada</div>
      </a>
      <ul class="contact">
        <li><a class="email" href="mailto:tina@globalmechanic.com">Studio</a> <a class="tel" href="tel:+16047337475">604 733 7475</a></li>
        <li><a class="email" href="mailto:info@lizlainereps.com?subject=Re:%20Global%20Mechanic">Reps USA</a> <a class="tel" href="tel:+13123291111">312 329 1111</a></li>
        <li><a class="email" href="mailto:lisa@hestyreps.com?subject=Re:%20Global%20Mechanic">Reps CANADA</a> <a class="tel" href="tel:+14164820411">416 482 0411</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>
